# Should always be in .gitignore unless you know what you're doing
node_modules/
@deps/

!.gitkeep

# These files lock down the project's node dependencies
# These are only here for the development of starter-web
# You should remove whichever one you are using in your project
package-lock.json
yarn.lock
